<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		
		<title>My Own Chat</title>
	</head>
	<body class="<%= @web %>">
		<div class="chat">
			<div class="mensajes">
				<div id="chat"></div>
				<h1>Mensajes</h1>
			</div>

			<div class="usuarios">
				<h1>Usuarios</h1>
			</div>

			<div class="input">
				input
			</div>
		</div>
	</body>