<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		
		<title>My Own Chat</title>
	</head>
	<body class="<%= @web %>">
		<div class="cabecera">
			<div class="imagen col-xs-10 col-sm-10 col-lg-10"><img src="/img/logo.png"> </div>
			<div id="logout" class="logout col-xs-2 col-sm-2 col-lg-2"> <br><br> <a href="/logout" id="log-out" >Cerrar Sesión</a> </div>
			
		</div>


		<div class="chat col-xs-12 col-sm-12 col-lg-12">
			<div class="mensajes col-xs-12 col-sm-offset-1 col-sm-8 col-lg-8">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h4>Mensajes</h4>
				  </div>
				  <div id="chat" class="box">
				</div>
			</div>
				
				
			</div>

			<div class="usuarios col-xs-12 col-sm-2 col-lg-2">
				<div class="panel panel-default">
				  <div class="panel-heading">
      					<h4>Usuarios</h4>
      			  </div>
    			  <div id="users" class="box"></div>	
				</div>
			</div>

			<div class="input col-xs-12 col-sm-offset-1 col-sm-8 col-lg-8">
				<input id="text"  placeholder="Mensaje..." autofocus/>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src= "/js/bootstrap.min.js"></script>
		<script src= "/js/bootstrap.js"></script>
		<script src= "/chat.js"></script>
	</body>
</html>