<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		
		<title>My Own Chat</title>
	</head>
	<body class="<%= @web %>">
		<div class="chat col-xs-12 col-sm-12 col-lg-12">
			<div class="mensajes col-xs-12 col-sm-offset-1 col-sm-8 col-lg-8">
				
				<h1>Mensajes</h1>
				<div id="chat" class="area-t">
					
				</div>
			</div>

			<div class="usuarios col-xs-12 col-sm-2 col-lg-2">
				<h1>Usuarios</h1>
			</div>

			<div class="input col-xs-12 col-sm-offset-1 col-sm-8 col-lg-8">
				<form class="col-xs-12 col-sm-12 col-lg-12" action="/" method="post">
					<div class="input-group">
					  <input id="text" class="mf form-control" placeholder="Mensaje..." autofocus>
					</div>
				<br>
			</div>
		</div>
	</body>