<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		
		<title>My Own Chat</title>
	</head>
	<body class="<%= @web %>">
		
		<div class="container">
			<div class="logeo col-xs-12 col-sm-12 col-lg-12">
				<h2> Bienvenido </h2>
				<form class="col-xs-12 col-sm-12 col-lg-12" action="/" method="post">
					<div class="input-group">
					  <input type="text" name="name_log" value="" class="mf form-control" placeholder="Nombre de usuario..." autofocus>
					</div>
					<br>
					<div class="input-group">
					  <input type="password" name="pass_log" value="" class="mf form-control" placeholder="Contraseña..." autofocus>
					</div>	
					<br>
					<button type="submit" class="btn btn-default">Log in</button>
					<br>
				</form>
			</div>

			<br><br>

			<div class="registro col-xs-12 col-sm-12 col-lg-12">
				¿Aún no tienes cuenta? Regístrate aquí:
					<br>
				<form class="col-xs-12 col-sm-12 col-lg-12" action="/" method="post">
					<div class="input-group">
					  <input type="text" name="name_reg" value="" class="mf form-control" placeholder="Nombre de usuario..." autofocus>
					</div>
					<br>
					<div class="input-group">
					  <input type="password" name="pass_reg" value="" class="mf form-control" placeholder="Contraseña..." autofocus>
					</div>	
					<br>
					<div class="input-group">
					  <input type="password" name="pass2_reg" value="" class="mf form-control" placeholder="Confirmar contraseña..." autofocus>
					</div>
					<br>
					<button type="submit" class="btn btn-default">Sign up</button>
					<br>

				</form>
			</div>

			


		</div>
		

	</body>
</html>