.cabecera-logo{

	text-align: center;
}

.login{
	background-color: #a1c0d8;
	
	background-repeat: no-repeat;
	background-size: 100%;
}

.container{
	margin-top: 10%;
}

.logeo{
	opacity: 1;
	border-radius: 5px;
	text-align: center;
	background-color: white;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 3%;

}

.registro{
	border-radius: 5px;
	text-align: center;
	background-color: white;

	padding: 0%;

	margin-top: 3%;

}

.mf{
	margin-bottom: 2%;
}

.index{
	
	background-repeat: no-repeat;
	background-size: 100%;
}

.mensajes{
	margin-top: 5%;
	border-radius: 5px;
	background-color: red;

}

.usuarios{
	margin-top: 5%;
	border-radius: 5px;
	background-color: blue;
	height: 420px;
}

.area-t{
	height: 350px;

}
.input{
	padding: 10px;
	border-radius: 5px;
	background-color: pink;
	height: 50px;
	
}
