.cabecera-logo{
	margin-top: 30%;
	text-align: center;
}

.login{
	background-color: #a1c0d8;
	
	background-repeat: no-repeat;
	background-size: 100%;
}

.container{
	height: 25%;
	width: 25%;
}

.logeo{
	opacity: 1;
	border-radius: 5px;
	text-align: center;
	background-color: white;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 3%;

}

.registro{
	border-radius: 5px;
	text-align: center;
	background-color: white;

	padding: 0%;

	margin-top: 3%;

}

.mf{
	margin-bottom: 2%;
}

.index{

	background-color: #a1c0d8;
	background-size: 100%;
}

.cabecera{
	background-color: black;
	padding-top: 5px;
	padding-left: 15px;
	height: 80px;
}

.mensajes{

	margin-top: 3%;
	margin-right: 1%;
	margin-bottom: 1%;
	border-radius: 5px;
}

.usuarios{
	margin-top: 3%;
	border-radius: 5px;
	background-color: white;
	height: 420px;
}

.area-t{
	height: 350px;

}
.input{
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	height: 50px;
	
}
