.login{
	background: url("/img/login.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.container{
	height: 25%;
	width: 25%;
}

.logeo{
	opacity: 1;
	border-radius: 5px;
	text-align: center;
	background-color: white;
	padding-top: 1px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 3%;
	margin-top: 50%;

}

.registro{
	border-radius: 5px;
	text-align: center;
	background-color: white;
	padding-top: 3%;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 3%;
	margin-top: 5%;

}

.mf{
	margin-bottom: 2%;
}

.chat{
	background: url("/img/login.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.mensajes{
	background-color: white;
	height: 75%;
	width: 75%;
	margin: 5%;

}

.usuarios{
	background-color: white;
	height: 75%;
	width: 25%;
	margin: 5%;

}

.input{
	background-color: white;
	height: 25%;
	width: 100%;
	margin: 5%;
}
